# IDEs and Editors
.vscode/
.idea/
*.swp
*.sublime-project

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
.DS_Store

# Logs
*.log
npm-debug.log*

# Build output
dist/

# Dependencies
node_modules/

# Local env files (if you use API keys later)
.env
*.local